{{define "article"}}
<!DOCTYPE html>
<html>
<head>
<title>{{.Display.Article.Title}} - {{.Display.ShowTopic}} - huanyu0w0 - 安利党de命中注定 Σ( ° △ °|||)</title>
{{template "header" .}}

            <div class="mdl-card mdl-shadow--4dp" style="margin-left: 8%; margin-top: 1%; min-width: 640px; width: 40%;">

                <div class="mdl-card__title mdl-card--border">

                  <div style="margin-top: 2%; margin-left: 2%; width: 90%;">
                    <small class="mdl-color-text--grey-500">Topic</small>&nbsp
                    <a href="/topic/{{.Display.Article.Topic}}" style="text-decoration: none;">{{.Display.ShowTopic}}</a>
                    <!-- <span style="float:right; padding-right: 6%;">
                    <small class="mdl-color-text--accent">(╯°口°)╯ ┴—┴&nbsp&nbsp&nbsp&nbsp(＃°Д°)&nbsp&nbsp&nbsp&nbsp╮(￣▽￣)╭</small>
                    </span> -->
                    <div class="mdl-color-text--grey-600" style="margin-top: 2%; margin-bottom: 2%;">
                        <h2 class="mdl-card__title-text">{{.Display.Article.Title}}</h2>
                    </div>
                    <small class="mdl-color-text--grey-500">发布于 {{.Display.ShowTime}}</small>&nbsp&nbsp
                    <small class="mdl-color-text--grey-500">{{.Display.Article.Click}} 次点击</small>&nbsp&nbsp
                    <small class="mdl-color-text--grey-500">{{.Display.Article.Like}} 人喜欢</small>
                    <span style="float: right;">
                        <small class="mdl-color-text--grey-500">Label</small>&nbsp
                        <a href="{{.Display.Article.Url}}" target="_blank" style="text-decoration: none;">
                            <small class="mdl-color-text--accent">{{.Display.Article.Name}}</small>
                        </a>
                    </span>
                  </div>

                </div>

                <div class="mdl-card__media" style="background: url('');">
                    <a href="/user/{{.Display.Article.Editor}}" target="_blank" id="avatar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--fab" style="margin: 2%;">
                        <img src="{{.Display.Editor.Avatar}}" style="width: 100%; height: 100%; border-radius: 50%;">
                    </a>
                
                    <span class="mdl-color-text--grey-500">
                        <a href="/user/{{.Display.Article.Editor}}" target="_blank" style="text-decoration: none;"><big>{{.Display.Editor.Name}}</big></a>&nbsp
                        {{if .Display.IsFollow}}
                        <a href="/follow/{{.Display.Article.Editor}}?article={{.Display.ID}}&pos=0" id="0" style="text-decoration: none;"><small class="mdl-color-text--grey-500">已关注</small></a>
                        {{else}}
                        <a href="/follow/{{.Display.Article.Editor}}?article={{.Display.ID}}&pos=0" id="0" style="text-decoration: none;"><small>+关注</small></a>
                        {{end}}
                        <br>
                        <small style="margin-left: 3%;">{{.Display.Editor.Follower}} 位粉丝</small>
                    </span>
                </div>

                <div class="mdl-card__supporting-text mdl-color-text--grey-600" style="min-height: 320px; margin: 2%; margin-top: 1%; margin-left: 3%;">
                    {{.Content}}
                </div>

                <div class="mdl-card__actions mdl-card--border mdl-color--grey-50 mdl-shadow--2dp">

                    <form action="/comment/create?article={{.Display.ID}}" method="post">

                        <div class="mdl-textfield mdl-js-textfield" style="width: 95%; margin-left: 2%;">
                            <textarea rows=1 class="mdl-textfield__input" type="text" id="comment" name="content"></textarea>
                            <label for="comment" class="mdl-textfield__label">评论一句...biubiu...</label>
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-600 mdl-button--icon" style="right: 2%;">
                                <i class="material-icons" role="presentation">send</i>
                            </button>
                        </div>

                    </form>

                {{if .Display.IsMostLikes}}
                    <small class="mdl-color-text--accent" style="margin: 2%;">最热评论</small>
                    <div id="mostlikes">
                        <a href="/user/{{.Display.MostLikes.Comment.Editor}}" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--icon" style="margin: 2%; margin-left: 12px;">
                            <img src="{{.Display.MostLikes.Editor.Avatar}}" style="width: 100%; height: 100%; border-radius: 50%;">
                        </a>
                        <a href="/user/{{.Display.MostLikes.Comment.Editor}}" target="_blank" style="text-decoration: none;">{{.Display.MostLikes.Editor.Name}}</a>

                        {{if .Display.MostLikes.IsEditor}}
                        <i class="material-icons mdl-color-text--accent">pets</i>
                        {{end}}

                        &nbsp
                        {{if .Display.MostLikes.IsFollow}}
                        <a href="/follow/{{.Display.MostLikes.Comment.Editor}}?article={{.Display.MostLikes.Comment.Article}}&pos=mostlikes" class="mdl-color-text--grey-500" style="text-decoration: none;"><small>已关注</small></a>
                        {{else}}
                        <a href="/follow/{{.Display.MostLikes.Comment.Editor}}?article={{.Display.MostLikes.Comment.Article}}&pos=mostlikes" style="text-decoration: none;"><small>+关注</small></a>
                        {{end}}

                        <span style="float: right; padding-right: 6%; margin-top: 1%"><i class="mdl-color-text--accent material-icons">whatshot</i></span>

                        {{if .Display.MostLikes.Comment.Replyto}}
                        <small class="mdl-color-text--grey-500" style="margin-left: 1%;" >回复</small>
                        <a href="/user/{{.Display.MostLikes.Comment.Replyto}}" target="_blank" style="text-decoration: none; margin-left: 1%;">{{.Display.MostLikes.Replyto.Name}}</a>
                        {{end}}

                        <div class="mdl-color-text--grey-600" style="margin-left: 10%;">
                            <p>{{.Display.MostLikes.Comment.Content}}</p>
                        </div>
                        <small class="mdl-color-text--grey-500" style="margin-left: 10%;">{{.Display.MostLikes.ShowTime}}</small>

                        <span style="float: right; padding-right: 10%;">
                            {{if .Display.MostLikes.IsLike}}
                            <a href="/commentlike/{{.Display.MostLikes.ID}}?article={{.Display.MostLikes.Comment.Article}}&pos=hot" id="hot" style="text-decoration: none;"><small class="mdl-color-text--accent">赞({{.Display.MostLikes.Comment.Like}})</small></a>
                            {{else}}
                            <a href="/commentlike/{{.Display.MostLikes.ID}}?article={{.Display.MostLikes.Comment.Article}}&?pos=hot" id="hot" style="text-decoration: none;"><small class="mdl-color-text--grey-500">赞({{.Display.MostLikes.Comment.Like}})</small></a>
                            {{end}}
                            <small class="mdl-color-text--grey-500">&nbsp&nbsp|&nbsp&nbsp</small>
                            <a href="javascript:void(0)" style="text-decoration: none;" onclick="document.getElementById('reply{{.Display.MostLikes.ID}}').style.display='block'"><small class="mdl-color-text--grey-500">回复</small></a>
                            <small class="mdl-color-text--grey-500">&nbsp&nbsp|&nbsp&nbsp</small>
                            <a href="/replies/{{.Display.MostLikes.ID}}" style="text-decoration: none;"><small class="mdl-color-text--grey-500">所有回复({{.Display.MostLikes.ReplyNum}})</small></a>
                        </span>
                    </div>

                    <div style="display: none;" id="reply{{.Display.MostLikes.ID}}">
                        <form action="/comment/create?article={{.Display.MostLikes.Comment.Article}}&replyto={{.Display.MostLikes.ID}}" method="post">
                            <div class="mdl-textfield mdl-js-textfield" style="width: 95%; margin-left: 2%;">
                            <textarea rows=1 class="mdl-textfield__input" type="text" id="comment" name="content"></textarea>
                            <label for="comment" class="mdl-textfield__label">回复 {{.Display.MostLikes.Editor.Name}}: </label>
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-600 mdl-button--icon" style="right: 2%;">
                                <i class="material-icons" role="presentation">send</i>
                            </button>
                            </div>
                        </form>
                    </div>

                    <hr><br><br>
                {{end}}
                {{if .Display.Comments}}
                <small class="mdl-color-text--accent" style="margin-left: 2%;">所有评论</small>
                {{end}}
                <br>
                {{range .Display.Comments}}
                    <div id="{{.ID}}">
                        <a href="/user/{{.Comment.Editor}}" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--icon" style="margin: 2%; margin-left: 12px;">
                            <img src="{{.Editor.Avatar}}" style="width: 100%; height: 100%; border-radius: 50%;">
                        </a>
                        <a href="/user/{{.Comment.Editor}}" target="_blank" style="text-decoration: none;">{{.Editor.Name}}</a>

                        {{if .IsEditor}}
                        <i class="material-icons mdl-color-text--accent">pets</i>
                        {{end}}
                        &nbsp
                        {{if .IsFollow}}
                        <a href="/follow/{{.Comment.Editor}}?article={{.Comment.Article}}&pos={{.Number}}" class="mdl-color-text--grey-500" style="text-decoration: none;"><small>已关注</small></a>
                        {{else}}
                        <a href="/follow/{{.Comment.Editor}}?article={{.Comment.Article}}&pos={{.Number}}" style="text-decoration: none;"><small>+关注</small></a>
                        {{end}}

                        <span style="float: right; padding-right: 6%; margin-top: 1%;" id="{{.Number}}"><big class="mdl-color-text--grey-500"># {{.Number}}</big></span>

                        {{if .Comment.Replyto}}
                        <small class="mdl-color-text--grey-500" style="margin-left: 1%;" >回复</small>
                        <a href="/user/{{.Comment.Replyto}}" target="_blank" style="text-decoration: none; margin-left: 1%;">{{.Replyto.Name}}</a>
                        {{end}}

                        <div class="mdl-color-text--grey-600" style="margin-left: 10%;">
                            <p>{{.Comment.Content}}</p>
                        </div>
                        <small class="mdl-color-text--grey-500" style="margin-left: 10%;">{{.ShowTime}}</small>

                        <span style="float: right; padding-right:10%;">

                            {{if .IsLike}}
                            <a href="/commentlike/{{.ID}}?article={{.Comment.Article}}&pos={{.Number}}" style="text-decoration: none;"><small>赞({{.Comment.Like}})</small></a>
                            {{else}}
                            <a href="/commentlike/{{.ID}}?article={{.Comment.Article}}&pos={{.Number}}" style="text-decoration: none;" class="mdl-color-text--grey-500"><small>赞({{.Comment.Like}})</small></a>
                            {{end}}
                            <small class="mdl-color-text--grey-500">&nbsp&nbsp|&nbsp&nbsp</small>
                            <a href="javascript:void(0)" style="text-decoration: none;" onclick="document.getElementById('reply{{.ID}}').style.display='block'"><small class="mdl-color-text--grey-500">回复</small></a>
                            <small class="mdl-color-text--grey-500">&nbsp&nbsp|&nbsp&nbsp</small>
                            <a href="/replies/{{.ID}}" style="text-decoration: none;"><small class="mdl-color-text--grey-500">所有回复({{.ReplyNum}})</small></a>
                            
                        </span>

                        <div style="display: none;" id="reply{{.ID}}">
                            <form action="/comment/create?article={{.Comment.Article}}&replyto={{.ID}}" method="post">
                                <div class="mdl-textfield mdl-js-textfield" style="width: 95%; margin-left: 2%;">
                                <textarea rows=1 class="mdl-textfield__input" type="text" id="comment" name="content"></textarea>
                                <label for="comment" class="mdl-textfield__label">回复 {{.Editor.Name}}: </label>
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-600 mdl-button--icon" style="right: 2%;">
                                    <i class="material-icons" role="presentation">send</i>
                                </button>
                                </div>
                            </form>
                        </div>

                        <hr>
                    </div>
                {{end}}
                </div>

                
                {{if .Display.IsLike}}
                <div class="mdl-card__menu mdl-color-text--accent" id="articlelike">
                    <!-- {{.Display.Article.Like}}  -->
                    <a href="/articlelike/{{.Display.ID}}?pos=articlelike"><i class="material-icons">favorite</i></a></span>
                </div>
                <div class="mdl-tooltip" data-mdl-for="articleliked">已经喜欢了</div>
                {{else}}
                <div class="mdl-card__menu mdl-color-text--accent" id="articlelike">
                    <a href="/articlelike/{{.Display.ID}}?pos=articlelike"><i class="material-icons">favorite_border</i></a>
                </div>
                <div class="mdl-tooltip" data-mdl-for="articlelike">喜欢</div>
                {{end}}
            </div>

{{template "footer"}}
{{end}}