{{define "createarticle"}}
<!DOCTYPE html>
<html>
<head>
<title>WRITRING... - huanyu0w0 - 安利党de命中注定 Σ( ° △ °|||)</title>
{{template "header" .}}

    	<div class="mdl-card mdl-shadow--4dp" style="margin-left: 6%; margin-top: 1%; min-width: 640px; width: 40%;">
  			<div class="mdl-card__title mdl-color--primary mdl-color-text--grey-600">
   				<stong>奋笔疾书ing...</stong>
  			</div>

        <form action="/article/create" method="POST">
  			<div class="mdl-card__supporting-text">
            	<div class="mdl-textfield mdl-js-textfield" style="margin-left: 3%; width: 90%;">
              		<input class="mdl-textfield__input" type="text" id="title" name="title" />
              		<label class="mdl-textfield__label" for="title">醒目の标题...(20个字以内)</label>
            	</div>

              <div class="mdl-textfield mdl-js-textfield" style="margin-left: 3%; width: 90%;">
                  <input class="mdl-textfield__input" type="text" id="name" name="name" />
                  <label class="mdl-textfield__label" for="name">想要安利什么...？</label>
              </div>

              <div class="mdl-textfield mdl-js-textfield" style="margin-left: 3%; width: 90%;">
                  <input class="mdl-textfield__input" type="text" id="url" name="url" />
                  <label class="mdl-textfield__label" for="url">链接地址...(可以不填(～￣▽￣)～)</label>
              </div>

              <!-- <div class="mdl-textfield mdl-js-textfield" style="margin-left: 3%; width: 90%;">
                  <input class="mdl-textfield__input" type="text" id="link" name="link" />
                  <label class="mdl-textfield__label" for="link">html地址...</label>
              </div> -->

              <hr>

            	<div class="mdl-textfield mdl-js-textfield" style="margin-left: 3%; width: 90%">
              		<textarea class="mdl-textfield__input" type="text" id="reason" name="reason" rows="12" style="width: 100%;"></textarea>
              		<label class="mdl-textfield__label" for="reason">安利理由...(支持markdown哟ヾ(=･ω･=)o)</label>
            	</div>

            	<div style="margin-left: 3%;" class="mdl-color-text--accent"><label class="mdl-radio mdl-js-radio">
            		<input type="radio" class="mdl-radio__button" name="topic" value="toys" checked />
            		<span class="mdl-radio__label">番剧</span>
            	</label>

            	<label class="mdl-radio mdl-js-radio" style="margin-left: 3%;">
    				<input type="radio" class="mdl-radio__button" name="topic" value="movie"/>
    				<span class="mdl-radio__label">电影</span>
				</label>

				<label class="mdl-radio mdl-js-radio" style="margin-left: 3%;">
    				<input type="radio" class="mdl-radio__button" name="topic" value="tv"/>
    				<span class="mdl-radio__label">影视</span>
				</label>

				<label class="mdl-radio mdl-js-radio" style="margin-left: 3%;">
    				<input type="radio" class="mdl-radio__button" name="topic" value="music_note"/>
    				<span class="mdl-radio__label">音乐</span>
				</label>

				<label class="mdl-radio mdl-js-radio" style="margin-left: 3%;">
    				<input type="radio" class="mdl-radio__button" name="topic" value="book"/>
    				<span class="mdl-radio__label">文字</span>
				</label>

        <label class="mdl-radio mdl-js-radio" style="margin-left: 3%;">
            <input type="radio" class="mdl-radio__button" name="topic" value="videogame_asset"/>
            <span class="mdl-radio__label">游戏</span>
        </label>

        <label class="mdl-radio mdl-js-radio" style="margin-left: 3%;">
            <input type="radio" class="mdl-radio__button" name="topic" value="others"/>
            <span class="mdl-radio__label">其他</span>
        </label>

        </div>

  			</div>

  				<div class="mdl-card__actions">
   					<input type="submit" value="装填完毕...发射" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary mdl-color-text--grey-600"  style="margin-left: 3%;">
  				</div>
          	</form>

            <div style="margin-left: 3%; width: 90%">
              <form action="/article/image/{{.ID}}" method="post" enctype="multipart/form-data">
                  <br>
                  <div style="display: block;">
                    <small class="mdl-color-text--grey-500">请选择图片(请勿包含中文)</small>
                    <br>
                    <input type="file" name="file" accept="image/*" style="margin-bottom: 2%;">
                  </div>
                  <input type="submit" value="添加图片" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--accent">
                </form>
                </div>
                <br>
                <div style="margin-left: 3%; width: 90%">
                  <li class="mdl-list__item mdl-color-text--grey-600">
                    <span class="mdl-list__item-primary-content">url: <a href="{{.Url}}">{{.Url}}</a></span>
                  </li>
                </div>
		</div>

{{template "footer"}}
{{end}}