{{define "home"}}
<!DOCTYPE html>
<html>
<head>
	<title>首页 - huanyu0w0 - 安利党de命中注定 Σ( ° △ °|||)</title>
{{template "header" .}}
      <div class="mdl-grid" style="width: 55%; min-width: 800px; margin-left: 5%;">
    	{{range .Displays}}
    		<div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp">
  				<div class="mdl-card__title mdl-card--border">
              <a href="/user/{{.Article.Editor}}" target="_blank" id="avatar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--icon">
                <img src="{{.Editor.Avatar}}" style="width: 100%; height: 100%; border-radius: 50%;">
              </a>
              <small class="mdl-color-text--grey-500" style="margin-left: 3%;">{{.Editor.Name}}<br>{{.ShowTime}}</small>
  				</div>
  				
          <div class="mdl-card__media" style="background: url('');">
            {{if .Article.Url}}
            <a href="{{.Article.Url}}" target="_blank" type="button" class="mdl-chip mdl-button mdl-js-button mdl-button--raised" style="margin: 2%; margin-bottom: 1%; margin-left: 6%; max-width: 80%;">
              <span class="mdl-chip__text mdl-color-text--grey-600">{{.Article.Name}}</span>
            </a>
            {{else}}
            <span class="mdl-chip" style="margin: 2%; margin-bottom: 1%; margin-left: 6%; max-width: 80%;">
              <span class="mdl-chip__text mdl-color-text--grey-600">{{.Article.Name}}</span>
            </span>
            {{end}}
          </div>

  				<div class="mdl-card__supporting-text mdl-card--expand">
            <h4 class="mdl-card__title-text" style="margin-left: 3%;">{{.Article.Title}}</h4>
  				</div>

  				<div class="mdl-card__actions">

            <a href="/article/{{.ID}}" target="_blank" class="mdl-button mdl-color-text--accent mdl-js-button">
              READ
            </a>
            <div id="{{.ID}}comment" style="direction: rtl; float: right; margin-right: 2%;">
            <i class="material-icons mdl-color-text--accent">chat</i>
            <small class="mdl-color-text--accent">{{.CommentsNum}}</small>
            </div>
            <div class="mdl-tooltip" data-mdl-for="{{.ID}}comment">{{.CommentsNum}}条评论</div>
            <div id="{{.ID}}like" style="direction: rtl; float: right; margin-right: 3%;">
            <i class="material-icons mdl-color-text--accent">favorite</i>
            <small class="mdl-color-text--accent">{{.Article.Like}}</small>
            </div>
            <div class="mdl-tooltip" data-mdl-for="{{.ID}}like">{{.Article.Like}}人喜欢</div>

  				</div>

  				<div class="mdl-card__menu" id="{{.ID}}"><a href="topic/{{.Article.Topic}}"><i class="material-icons">{{.Article.Topic}}</i></a></div>
  				<div class="mdl-tooltip" data-mdl-for="{{.ID}}">前往"{{.ShowTopic}}"分区</div>

			  </div>
    	{{end}}

      <div class="mdl-cell mdl-cell--12-col">
      {{if .Head}}
      <!-- <label class="mdl-button mdl-color-text--accent mdl-js-button mdl-js-ripple-effect" style="margin-left: 5%">首页</label> -->
      {{else}}
      <a href="/?page={{.PreviousPage}}" class="mdl-button mdl-color-text--accent mdl-js-button mdl-js-ripple-effect" style="margin-right: 2%">上一页</a>
      {{end}}

      {{if .Tail}}
      <!-- <label class="mdl-button mdl-color-text--accent mdl-js-button mdl-js-ripple-effect" style="margin-left: 5%">尾页</label> -->
      {{else}}
      <a href="/?page={{.NextPage}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary mdl-color-text--grey-700">下一页</a>
      {{end}}
      </div>
      
        <style type="text/css">
          #sort{
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 160px;
            z-index: 900;
          }
          #bgm{
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 20px;
            margin-bottom: 200px;
            z-index: 900;
          }
        </style>
        
        <div id="sort">
        {{if .ByLike}}
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--accent">按热度排序</a>
          <!-- <span class="mdl-color-text--accent">&nbsp|&nbsp</span> -->
          <a href="/{{.Ad}}?sort=time" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary mdl-color-text--grey-700">按时间排序</a>
        {{else}}
          <a href="/{{.Ad}}?sort=like" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary mdl-color-text--grey-700">按热度排序</a>
          <!-- <span class="mdl-color-text--accent">&nbsp|&nbsp</span> -->
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--accent">按时间排序</a>
        {{end}}
        </div>



        <div id="bgm">
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=30245064&auto=0&height=66" style="width: 240px;"></iframe>
        </div>

      </div>

{{template "footer"}}
{{end}}