<!DOCTYPE html>
{{define "home"}}
<html>
<head>
	<title>首页 - 寰宇0w0 - 安利💊即是正义！ </title>
{{template "header" .}}
      <div class="mdl-grid" style="width: 60%; margin-left: 5%;">
    	{{range .ArticleEditors}}
    		<div class="mdl-cell mdl-cell--5-col mdl-card mdl-shadow--4dp">
  				<div class="mdl-card__title mdl-card--expand mdl-card--border mdl-color--primary">
            <strong class="mdl-card__title-text mdl-color-text--grey-600">{{.Article.Title}}</strong>

            <div class="mdl-layout-spacer"></div>

            <strong class="mdl-color-text--accent" style="text-decoration: none; margin-right: 36px;">{{.Article.Topic}}</strong>
  				</div>
  				
          <div class="mdl-card__media" style="background: url('');">
                    <a href="/user/{{.Editor.Id}}" id="avatar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--fab" style="margin: 12px;">
                        <img src="{{.Editor.Avatar}}" style="width: 100%; height: 100%; border-radius: 50%;">
                    </a>
                    <a href="/user/{{.Editor.Id}}" style="text-decoration: none;"><big>{{.Editor.Name}}</big></a>
                </div>

  				<div class="mdl-card__supporting-text" style="margin-left: 24px;">
    				{{.Article.Introduction}}
  				</div>
  				<div class="mdl-card__actions">
    				<a href="/article/{{.Article.Id}}" target="_blank" class="mdl-button mdl-button--accent mdl-button--raised mdl-js-button mdl-js-ripple-effect">
      					查看全文
    				</a>
            <small class="mdl-color-text--accent" style="margin-left: 12px;">{{.Article.Like}}</small>
            <small class="mdl-color-text--accent" style="text-decoration: none; margin-left: 6px;">赞</small>
  				</div>
  				<div class="mdl-card__menu" id="{{.Article.Id}}"><a href="/{{.Article.Topic}}"><i class="material-icons">fast_forward</i></a></div>
  				<div class="mdl-tooltip" data-mdl-for="{{.Article.Id}}">{{.Article.Topic}}</div>
			  </div>
      {{else}}

    	{{end}}
      </div>
{{template "footer"}}
{{end}}