<!DOCTYPE html>
{{define "resume"}}
<html>
<head>
	<title>简历 - 黎寰宇</title>
{{template "header"}}

<div class="mdl-card mdl-shadow--4dp" style="width: 24%">
	照片 姓名 招聘职位
</div>

<div class="mdl-card mdl-shadow--4dp" style="width: 40%">
	工作经历 / 专业技能
</div>

<div class="mdl-card mdl-shadow--4dp" style="width: 24%">
	教育背景
</div>

<div class="mdl-card mdl-shadow--4dp" style="width: 40%">
	专业技能 / 工作经历
</div>

<div class="mdl-card mdl-shadow--4dp" style="width: 24%">
	联系方式
</div>

<div class="mdl-card mdl-shadow--4dp" style="width: 40%">
	个人简介
</div>

{{template "footer"}}
{{end}}