{{define "signup"}}
<!DOCTYPE html>
<html>
<head>
    <title>注册 - huanyu0w0 - 安利党de命中注定 Σ( ° △ °|||) </title>
{{template "header" .}}

      <div class="mdl-card mdl-shadow--4dp" style="margin-left: 9%; width: 30%; min-width: 360px; margin-top: 2%;">
        <div class="mdl-card__title mdl-card--border mdl-color--primary">
          <!-- <h2 class="mdl-card__title-text mdl-color-text--grey-600">注册</h2> -->
          <strong class="mdl-color-text--grey-600">DNA提取中...未检测到阁下...重新建立神经绑定...</strong>
        </div>
        {{if .Path}}
        <form action="/signup?path={{.Path}}" method="POST">
        {{else}}
        <form action="/signup" method="POST">
        {{end}}
          <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield" style="margin-left: 3%; width: 80%;">
                  <input class="mdl-textfield__input" type="email" id="email" name="email" />
                  <label class="mdl-textfield__label" for="email">邮箱</label>
                  <span class="mdl-textfield__error">请输入正确的邮箱地址</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield" style="margin-left: 3%; width: 80%;">
                  <input class="mdl-textfield__input" type="text" id="name" name="name" />
                  <label class="mdl-textfield__label" for="name">用户名(24个英文数字或8个汉字以内)</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield" style="margin-left: 3%; width: 80%;">
                  <input class="mdl-textfield__input" type="password" id="password" name="password" />
                  <label class="mdl-textfield__label" for="password">密码</label>
              </div>

              <div class="mdl-textfield mdl-js-textfield" style="margin-left: 3%; width: 30%;">
                  <input class="mdl-textfield__input" type="text" id="verify" name="verify" />
                  <label class="mdl-textfield__label" for="verify">AI检测器...</label>
              </div>

              <img src="/verify" style="margin-left: 2%;">

              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="margin-left: 3%; margin-top: 2%;" for="2333">
                <input type="checkbox" id="2333" name="2333" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">我已阅读并学习&nbsp<a href="http://baike.baidu.com/item/%E7%A4%BE%E4%BC%9A%E4%B8%BB%E4%B9%89%E6%A0%B8%E5%BF%83%E4%BB%B7%E5%80%BC%E8%A7%82" target="_blank" style="text-decoration: none;">社会主义核心价值观</a></span>
              </label>
          </div>

          <div class="mdl-card__actions">
            <input type="submit" value="注册" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary" style="margin-left: 3%;">
            <a href="/login" class="mdl-button mdl-color-text--accent mdl-js-button mdl-js-ripple-effect" style="margin-left: 3%">已有账号？登录</a>
          </div>
      </form>
    </div>

<!-- footer -->
        <footer class="mdl-mini-footer" style="background: url(''); position: fixed; bottom: 0;">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo mdl-color-text--grey-700">huanyu0w0</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="https://github.com/KaesaHuanyu/huanyu0w0" target="_blank">GitHub</a></li>
                    <li><a href="">意见 & 建议</a></li>
                    <li><a href="/curriculumVitae">简历</a></li>
                </ul>
            </div>
        </footer>
        </main>
    </div>
    <div  id="create-article"><a href="/article/create" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-button--fab mdl-shadow--2dp"><i class="material-icons" style="color: white;">add</i></a></div>
    <div class="mdl-tooltip" data-mdl-for="create-article">制作安利💊...</div>
</body>
</html>
{{end}}