{{define "signin"}}
<!DOCTYPE html>
<html>
<head>
    <title>登录 - huanyu0w0 - 安利党de命中注定 Σ( ° △ °|||)</title>
{{template "header" .}}
    	<div class="mdl-card mdl-shadow--4dp" style="margin-left: 9%; width: 30%; min-width: 360px; margin-top: 2%;">
  			<div class="mdl-card__title mdl-card--border mdl-color--primary">
   				<!-- <h2 class="mdl-card__title-text mdl-color-text--grey-600">登录</h2> -->
          <strong class="mdl-color-text--grey-600">DNA提取中...编号S-B2333...准备神经末梢连接...</strong>
  			</div>
            {{if .Path}}
          	<form action="/login?path={{.Path}}" method="POST">
            {{else}}
            <form action="/login" method="POST">
            {{end}}
  			<div class="mdl-card__supporting-text">
            	<div class="mdl-textfield mdl-js-textfield" style="margin-left: 3%; width: 80%;">
            		<!-- <span class="mdl-button--icon"><i class="material-icons">account_box</i></span> -->
              		<input class="mdl-textfield__input" type="email" id="email" name="email" />
              		<label class="mdl-textfield__label" for="email">邮箱</label>
              		<span class="mdl-textfield__error">请输入正确的邮箱地址</span>
            	</div>
            	<!-- <label class="mdl-button--icon"><i class="material-icons">lock</i></label> -->
            	<div class="mdl-textfield mdl-js-textfield" style="margin-left: 3%; width: 80%;">
              		<input class="mdl-textfield__input" type="password" id="password" name="password" />
              		<label class="mdl-textfield__label" for="password">密码</label>
            	</div>

            	<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="margin-left: 3%; margin-top: 2%;" for="remember">
  					<input type="checkbox" id="remember" name="remember" class="mdl-checkbox__input">
  					<span class="mdl-checkbox__label">记住密码</span>
				</label>
				<div id="p1" class="mdl-progress mdl-js-progress mdl-progress__indeterminate mdl-color--accent" style="margin-left: 3%; margin-top: 3%; width: 80%;"></div>
  			</div>

  				<div class="mdl-card__actions">
   					<input type="submit" value="登录" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary"  style="margin-left: 3%;">
   					<a href="/signup?path={{.Path}}" class="mdl-button mdl-color-text--accent mdl-js-button mdl-js-ripple-effect" style="margin-left: 3%">还没有账号？注册</a>
  				</div>
          	</form>
		</div>
	</div>

<!-- footer -->
        <footer class="mdl-mini-footer" style="background: url(''); position: fixed; bottom: 0;">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo mdl-color-text--grey-700">huanyu0w0</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="https://github.com/KaesaHuanyu/huanyu0w0" target="_blank">GitHub</a></li>
                    <li><a href="">意见 & 建议</a></li>
                    <li><a href="/curriculumVitae">简历</a></li>
                </ul>
            </div>
        </footer>
        </main>
    </div>
    <div  id="create-article"><a href="/article/create" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-button--fab mdl-shadow--2dp"><i class="material-icons" style="color: white;">add</i></a></div>
    <div class="mdl-tooltip" data-mdl-for="create-article">制作安利💊...</div>
</body>
</html>
{{end}}