{{define "thankyou"}}
<!DOCTYPE html>
<html>
<head>
    <title>谢谢各位大佬！ - huanyu0w0 - 安利党de命中注定 Σ( ° △ °|||)</title>
{{template "header" .}}

	<div class="mdl-card mdl-shadow--4dp" style="margin-left: 8%; margin-top: 1%; min-width: 640px; width: 40%;">
		<div class="mdl-card__title mdl-card--border ">
            <h2 class="mdl-card__title-text mdl-color-text--grey-600">赞助</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600" style="margin: 2%; margin-top: 1%; margin-left: 3%;">
			<p>如果您认为本网站还不错，被安利得不要不要的，也给您带来了一些欢乐，不妨小额资瓷我一下，让我有动力继续写出高质量的内容~</p>
			<hr>
			<h2 class="mdl-card__title-text mdl-color-text--grey-600">赞助方式一：微信扫一扫</h2>
			<div class="mdl-color-text--grey-600" style="margin-top: 2%;">
				<p>绝对赤果果的票子资瓷：如果您想微信，请打开微信，使用“扫一扫”付款。<br>目前一共有6软妹币、22软妹币、33软妹币、66软妹币和“土豪请随意”共5档，哼，路飞都只有4档!<(￣︶￣)><br>PS：建议您闭上眼睛随便选一个哟吼吼(～￣▽￣)～</p>
			</div>
			<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" style="margin: 2%;">
				<div class="mdl-tabs__tab-bar">
					<a href="#sixweixin" class="mdl-tabs__tab is-active">￥6</a>
					<a href="#twotwoweixin" class="mdl-tabs__tab">￥22</a>
					<a href="#threethreeweixin" class="mdl-tabs__tab">￥33</a>
					<a href="#sixsixweixin" class="mdl-tabs__tab">￥66</a>
					<a href="#zeroweixin" class="mdl-tabs__tab">土豪请随意</a>
				</div>

				<div class="mdl-tabs__panel is-active" id="sixweixin" style="margin: 3%;">
					<img src="http://images.huanyu0w0.cn/QRcode/weixin6.jpg" width="414px" height="568px">
				</div>
				<div class="mdl-tabs__panel" id="twotwoweixin" style="margin: 3%;">
					<img src="http://images.huanyu0w0.cn/QRcode/weixin22.jpg" width="414px" height="568px">
				</div>
				<div class="mdl-tabs__panel" id="threethreeweixin" style="margin: 3%;">
					<img src="http://images.huanyu0w0.cn/QRcode/weixin33.jpg" width="414px" height="568px">
				</div>
				<div class="mdl-tabs__panel" id="sixsixweixin" style="margin: 3%;">
					<img src="http://images.huanyu0w0.cn/QRcode/weixin66.jpg" width="414px" height="568px">
				</div>
				<div class="mdl-tabs__panel" id="zeroweixin" style="margin: 3%;">
					<img src="http://images.huanyu0w0.cn/QRcode/weixin0.jpg" width="414px" height="568px">
				</div>
			</div>

			<hr>
			<h2 class="mdl-card__title-text mdl-color-text--grey-600">赞助方式二：支付宝扫一扫</h2>
			<div class="mdl-color-text--grey-600" style="margin-top: 2%;">
				<p>也是赤裸裸的金钱赞助：如果你有手机支付宝，请打开支付宝App，使用“扫一扫”付款。<br>目前一共有6软妹币、22软妹币、33软妹币、66软妹币和“土豪请随意”共5档，抱歉，没有倒挡ヾ(=･ω･=)o<br>PS：建议您闭上眼睛随便选一个哟(～￣▽￣)～</p>
			</div>
			<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" style="margin: 2%;">
				<div class="mdl-tabs__tab-bar">
					<a href="#sixzhifubao" class="mdl-tabs__tab is-active">￥6</a>
					<a href="#twotwozhifubao" class="mdl-tabs__tab">￥22</a>
					<a href="#threethreezhifubao" class="mdl-tabs__tab">￥33</a>
					<a href="#sixsixzhifubao" class="mdl-tabs__tab">￥66</a>
					<a href="#zerozhifubao" class="mdl-tabs__tab">土豪请随意</a>
				</div>

				<div class="mdl-tabs__panel is-active" id="sixzhifubao" style="margin: 3%;">
					<img src="http://images.huanyu0w0.cn/QRcode/zhifubao6.jpg" width="422px" height="640px">
				</div>
				<div class="mdl-tabs__panel" id="twotwozhifubao" style="margin: 3%;">
					<img src="http://images.huanyu0w0.cn/QRcode/zhifubao22.jpg" width="422px" height="640px">
				</div>
				<div class="mdl-tabs__panel" id="threethreezhifubao" style="margin: 3%;">
					<img src="http://images.huanyu0w0.cn/QRcode/zhifubao33.jpg" width="422px" height="640px">
				</div>
				<div class="mdl-tabs__panel" id="sixsixzhifubao" style="margin: 3%;">
					<img src="http://images.huanyu0w0.cn/QRcode/zhifubao66.jpg" width="422px" height="640px">
				</div>
				<div class="mdl-tabs__panel" id="zerozhifubao" style="margin: 3%;">
					<img src="http://images.huanyu0w0.cn/QRcode/zhifubao0.jpg" width="422px" height="640px">
				</div>

			</div>
		</div>
	</div>

{{template "footer"}}
{{end}}
