<!DOCTYPE html>
{{define "thankyou"}}
<html>
<head>
    <title>谢谢各位大佬！ - huanyu0w0 - 松鼠党de奇妙聚集地 Σ( ° △ °|||)</title>
{{template "header" .}}

	<div class="mdl-card mdl-shadow--4dp" style="margin-left: 8%; margin-top: 1%; min-width: 640px; width: 40%;">
		
	</div>

	<div class="mdl-card mdl-shadow--4dp" style="margin-left: 8%; margin-top: 1%; min-width: 640px; width: 40%;">
		
	</div>

	<div class="mdl-card mdl-shadow--4dp" style="margin-left: 8%; margin-top: 1%; min-width: 640px; width: 40%;">
		
	</div>

	<div class="mdl-card mdl-shadow--4dp" style="margin-left: 8%; margin-top: 1%; min-width: 640px; width: 40%;">
		
	</div>

{{template "footer"}}
{{end}}
